<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация об упражнении</title>
</head>
<body>
<h2>Информация об упражнении</h2>
<div>
    <p>Название</p>
    <p th:text="${exercise.name}"/>
</div>
<br>
<div>
    <p>Описание</p>
    <p th:text="${exercise.description}"/>
</div>
</body>
</html>