<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список упражнений</title>
</head>
<body>
<h2>Список упражнений</h2>
<table>
  <thead>
  <tr>
    <th>Название</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="exercise : ${exercises}">
    <td th:text="${exercise.name}"></td>
    <td>
      <a th:href="@{/exercise/__${exercise.id}__/details}">Смотреть</a>
    </td>
    <td>
      <a th:href="@{/exercise/__${exercise.id}__/edit}">Редактировать</a>
    </td>
    <td>
      <a th:href="@{/exercise/__${exercise.id}__/remove}">Удалить</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>