<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Описание упражнения</title>
</head>
<body>
<h2>Описание упражнения</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form th:action="@{/exercise/save}" th:object="${exercise}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Название</label>
        <input type="text" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
    </div>
    <div>
        <label>Описание</label>
        <textarea th:field="*{description}"></textarea>
    </div>
    <input type="submit" value="Применить"/>
</form>
</body>
</html>