<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о блюде</title>
</head>
<body>
<h2>Информация о блюде</h2>
<div>
    <p>Название</p>
    <p th:text="${dish.name}"/>
</div>
<br>
<div>
    <p>Описание</p>
    <p th:text="${dish.description}"/>
</div>
<br>
<div>
    <p>Белки</p>
    <p th:text="${dish.proteins}"/>
</div>
<br>
<div>
    <p>Жиры</p>
    <p th:text="${dish.fats}"/>
</div>
<br>
<div>
    <p>Углеводы</p>
    <p th:text="${dish.carbohydrates}"/>
</div>
<br>
<div>
    <p>Калории</p>
    <p th:text="${dish.calories}"/>
</div>
</body>
</html>