<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Описание блюда</title>
</head>
<body>
<h2>Описание блюда</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form th:action="@{/dish/save}" th:object="${dish}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Название</label>
        <input type="text" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
    </div>
    <div>
        <label>Описание</label>
        <textarea th:field="*{description}"></textarea>
    </div>
    <div>
        <label>Белки</label>
        <input type="text" th:field="*{proteins}"/>
        <p th:if="${#fields.hasErrors('proteins')}" th:errors="*{proteins}" />
    </div>
    <div>
        <label>Жиры</label>
        <input type="text" th:field="*{fats}"/>
        <p th:if="${#fields.hasErrors('fats')}" th:errors="*{fats}" />
    </div>
    <div>
        <label>Углеводы</label>
        <input type="text" th:field="*{carbohydrates}"/>
        <p th:if="${#fields.hasErrors('carbohydrates')}" th:errors="*{carbohydrates}" />
    </div>
    <div>
        <label>Калории</label>
        <input type="text" th:field="*{calories}"/>
        <p th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}" />
    </div>
    <input type="submit" value="Применить"/>
</form>
</body>
</html>