<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список блюд</title>
</head>
<body>
<h2>Список блюд</h2>
<table>
    <thead>
    <tr>
        <th th:text="#{full_name}">Название</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dish : ${dishes}">
        <td th:text="${dish.name}"></td>
        <td>
            <a th:href="@{/dish/__${dish.id}__/details}">Смотреть</a>
        </td>
        <td>
            <a th:href="@{/dish/__${dish.id}__/remove}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>