<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form action="#" th:action="@{/registration/coach}" th:object="${coach}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Имя</label>
        <input type="text" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
    </div>
    <div>
        <label>E-mail</label>
        <input type="text" th:field="*{contact.email}"/>
        <p th:if="${#fields.hasErrors('contact.email')}" th:errors="*{contact.email}"/>
    </div>
    <div>
        <label>Логин</label>
        <input type="text" th:field="*{authentification.login}"/>
        <p th:if="${#fields.hasErrors('authentification.login')}" th:errors="*{authentification.login}"/>
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" th:field="${password.password}"/>
        <p th:if="${#fields.hasErrors('${password.password}')}" th:errors="${password.password}"/>
    </div>
    <div>
        <label>Повторите пароль</label>
        <input type="password" th:field="${password.repeat}"/>
        <p th:if="${#fields.hasErrors('${password.repeat}')}" th:errors="${password.repeat}"/>
    </div>
    <input type="submit" value="Регистрация"/>
</form>
</body>
</html>