<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о клиенте</title>
</head>
<body>
<h2>Информация о клиенте</h2>
<div>
    <p>Логин</p>
    <p th:text="${client.authentification.login}"/>
</div>
<br>
<div>
    <p>Имя</p>
    <p th:text="${client.name}"/>
</div>
<br>
<div>
    <p>E-mail</p>
    <p th:text="${client.contact.email}"/>
</div>
<br>
<div>
    <p>Телефон</p>
    <p th:text="${client.contact.telephone}"/>
</div>
<br>
<div>
    <p>Skype</p>
    <p th:text="${client.contact.skype}"/>
</div>
<br>
<div>
    <p>Viber</p>
    <p th:text="${client.contact.viber}"/>
</div>
<br>
<div>
    <p>Telegram</p>
    <p th:text="${client.contact.telegram}"/>
</div>
<br>
<div>
    <p>Whatsapp</p>
    <p th:text="${client.contact.whatsapp}"/>
</div>
<br>
<div>
    <p>Instagram</p>
    <p th:text="${client.contact.instagram}"/>
</div>
<br>
<div>
    <p>VK</p>
    <p th:text="${client.contact.vk}"/>
</div>
<br>
<div>
    <p>Facebook</p>
    <p th:text="${client.contact.facebook}"/>
</div>
</body>
</html>