<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Найденные клиенты</title>
</head>
<body>
<h2>Клиенты</h2>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.name}"></td>
        <td>
            <a th:href="@{/client/detail/__${client.id}__}">Смотреть</a>
        </td>
        <td>
            <a th:href="@{/coach/client/__${client.id}__/add}">Добавить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>