<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменение пароля</title>
</head>
<body>
<h2>Изменение пароля</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form th:action="@{/client/change_password}" th:object="${password}" method="post">
    <div>
        <label>Password</label>
        <input type="password" th:field="${password.password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" />
    </div>
    <div>
        <label>Repeat password</label>
        <input type="password" th:field="${password.repeat}"/>
        <p th:if="${#fields.hasErrors('repeat')}" th:errorclass="error" th:errors="*{repeat}" />
    </div>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>