<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
</head>
<body>
<h2>Список клиентов</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form th:object="${client}" th:action="@{/coach/find}" method="get" class="form-horizontal" id="search-owner-form">
    <div>
        <label>Поиск клиента</label>
        <input th:field="*{name}" size="30" maxlength="80"/>
    </div>
    <button type="submit">Найти</button>
</form>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Имя клиента</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.name}" style="width: 150px">First name</td>
        <td>
            <a th:href="@{/client/__${client.id}__/details}">Информация</a>
        </td>
        <td>
            <a th:href="@{/clients/__${client.id}__/remove}">Удалить из списка</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>