<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о тренере</title>
</head>
<body>
<h2>Информация о тренере</h2>
<div>
    <p>Логин</p>
    <p th:text="${coach.authentification.login}"/>
</div>
<br>
<div>
    <p>Имя</p>
    <p th:text="${coach.name}"/>
</div>
<br>
<div>
    <p>E-mail</p>
    <p th:text="${coach.contact.email}"/>
</div>
<br>
<div>
    <p>Телефон</p>
    <p th:text="${coach.contact.telephone}"/>
</div>
<br>
<div>
    <p>Skype</p>
    <p th:text="${coach.contact.skype}"/>
</div>
<br>
<div>
    <p>Viber</p>
    <p th:text="${coach.contact.viber}"/>
</div>
<br>
<div>
    <p>Telegram</p>
    <p th:text="${coach.contact.telegram}"/>
</div>
<br>
<div>
    <p>Whatsapp</p>
    <p th:text="${coach.contact.whatsapp}"/>
</div>
<br>
<div>
    <p>Instagram</p>
    <p th:text="${coach.contact.instagram}"/>
</div>
<br>
<div>
    <p>VK</p>
    <p th:text="${coach.contact.vk}"/>
</div>
<br>
<div>
    <p>Facebook</p>
    <p th:text="${coach.contact.facebook}"/>
</div>
</body>
</html>