<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Найденные клиенты</title>
</head>
<body>
<h2>Найденные клиенты</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Профиль</th>
        <th>Добавить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.name}"></td>
        <td>
            <a th:href="@{/client/__${client.id}__/details}">Смотреть</a>
        </td>
        <td>
            <a th:href="@{/coach/clients/__${client.id}__/add}">Добавить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>