<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование клиента</title>
</head>
<body>
<h2>Изменение информации</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form th:action="@{/coach/edit}" th:object="${coach}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{contact.id}"/>
    <input type="hidden" th:field="*{authentification.id}"/>
    <div>
        <label>Логин</label>
        <input type="text" th:field="*{authentification.login}"/>
        <p th:if="${#fields.hasErrors('authentification.login')}" th:errorclass="error"
           th:errors="*{authentification.login}"/>
    </div>
    <div>
        <label>Имя</label>
        <input type="text" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
    </div>
    <div>
        <label>E-mail</label>
        <input type="text" th:field="*{contact.email}"/>
        <p th:if="${#fields.hasErrors('contact.email')}" th:errorclass="error" th:errors="*{contact.email}"/>
    </div>
    <div>
        <label>Телефон</label>
        <input type="text" th:field="*{contact.telephone}"/>
    </div>
    <div>
        <label>Skype</label>
        <input type="text" th:field="*{contact.skype}"/>
    </div>
    <div>
        <label>Viber</label>
        <input type="text" th:field="*{contact.viber}"/>
    </div>
    <div>
        <label>Telegram</label>
        <input type="text" th:field="*{contact.telegram}"/>
    </div>
    <div>
        <label>Whatsapp</label>
        <input type="text" th:field="*{contact.whatsapp}"/>
    </div>
    <div>
        <label>Instagram</label>
        <input type="text" th:field="*{contact.instagram}"/>
    </div>
    <div>
        <label>VK</label>
        <input type="text" th:field="*{contact.vk}"/>
    </div>
    <div>
        <label>Facebook</label>
        <input type="text" th:field="*{contact.facebook}"/>
    </div>
    <input type="submit" value="Применить"/>
</form>
</body>
</html>