<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление в меню</title>
</head>
<body>
<h2>Добавление в меню</h2>
<form th:action="@{/menu/save}" th:object="${menuInfo}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Дата</label>
        <input type="date" name="date" th:field="*{date}"/>
        <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" />
    </div>
    <div>
        <label>Блюдо</label>
        <select th:field="*{dishId}">
            <option th:each="dish : ${dishes}" th:value="${dish.id}" th:text="${dish.name}"></option>
        </select>
        <p th:if="${#fields.hasErrors('dishId')}" th:errors="*{dishId}" />
    </div>
    <input type="submit" value="Применить"/>
</form>
</body>
</html>