<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>
<h2>Меню</h2>
<table th:each="menu : ${menus}">
    <thead>
    <tr>
        <th th:text="${menu.date}"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dish : ${menu.dishList}">
        <td th:text="${dish.name}"></td>
        <td th:href="@{/menu/__${menu.id}__/dish/__${dish.id}__/remove}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>