<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
</head>
<body>
<h2>Статистика</h2>
<table>
    <thead>
    <tr>
        <th>Дата</th>
        <th>Количество калорий</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="menu : ${statistics}">
        <td th:text="${menu.date}"></td>
        <td th:text="${menu.calories}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>