<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка 404</title>
</head>
<body>
<h2>404 Not Found</h2>
<p th:text="${exception.getMessage()}"></p>
</body>
</html>