<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о тренировке</title>
</head>
<body>
<h2>Информация о тренировке</h2>
<div>
    <p>Клиент</p>
    <p th:text="${workout.clientName}"/>
</div>
<br>
<div>
    <p>Дата</p>
    <p th:text="${workout.date}"/>
</div>
<div>
    <p>Упражнение</p>
    <p th:text="${workout.exerciseName}"/>
</div>
<div>
    <p>Калории</p>
    <p th:text="${workout.calories}"/>
</div>
<div>
    <p>Пометка</p>
    <p th:text="${workout.note}"/>
</div>
<div>
    <p>Подход</p>
    <p th:text="${workout.strength.approach}"/>
</div>
<div>
    <p>Выполнено раз</p>
    <p th:text="${workout.strength.count}"/>
</div>
<div>
    <p>Дистанция</p>
    <p th:text="${exercise.endurance.distant}"/>
</div>
<div>
    <p>Время</p>
    <p th:text="${exercise.endurance.time}"/>
</div>
<div>
    <p>Единицы измерения</p>
    <p th:text="${exercise.endurance.unit}"/>
</div>
</body>
</html>