<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Описание тренировки</title>
</head>
<body>
<h2>Описание тренировки</h2>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form th:action="@{/workout/save}" th:object="${workout}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Клиент</label>
    <select th:field="*{clientId}">
        <option th:each="c : ${clients}" th:value="${c.id}" th:text="${c.name}" th:selected="${c==clientId}"></option>
    </select>
    <p th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}"/>
    <div>
        <label>Дата</label>
        <input type="date" name="date" th:field="*{date}"/>
        <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}"/>
    </div>
    <div>
        <label>Упражнение</label>
        <select th:field="*{exerciseId}">
            <option th:each="exercise : ${exercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
        </select>
        <p th:if="${#fields.hasErrors('exerciseId')}" th:errors="*{exerciseId}"/>
    </div>
    <div>
        <label>Калории</label>
        <input type="text" th:field="*{calories}"/>
        <p th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}"/>
    </div>
    <div>
        <label>Пометка</label>
        <textarea th:field="*{note}"></textarea>
    </div>
    <input type="hidden" th:field="*{strength.id}"/>
    <div>
        <label>Подход</label>
        <input type="text" th:field="*{strength.approach}"/>
        <p th:if="${#fields.hasErrors('strength.approach')}" th:errors="*{strength.approach}"/>
    </div>
    <div>
        <label>Выполнено раз</label>
        <input type="text" th:field="*{strength.count}"/>
        <p th:if="${#fields.hasErrors('strength.count')}" th:errors="*{strength.count}"/>
    </div>
    <input type="hidden" th:field="*{endurance.id}"/>
    <div>
        <label>Дистанция</label>
        <input type="text" th:field="*{endurance.distance}"/>
        <p th:if="${#fields.hasErrors('endurance.distance')}" th:errors="*{endurance.distance}"/>
    </div>
    <div>
        <label>Время</label>
        <input type="text" th:field="*{endurance.time}"/>
        <p th:if="${#fields.hasErrors('endurance.time')}" th:errors="*{endurance.time}"/>
    </div>
    <div>
        <label>Единицы времени</label>
        <select>
            <option>часы</option>
            <option>минуты</option>
            <option>секунды</option>
        </select>
    </div>
    <input type="submit" value="Применить"/>
</form>
</body>
</html>