<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тренировки</title>
</head>
<body>
<h2>Тренировки</h2>
<table>
    <thead>
    <tr>
        <th th:text="#{full_name}">Дата</th>
        <th th:text="#{full_name}">Упражнение/физическая активность</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workout : ${workouts}">
        <td th:text="${workout.date}"></td>
        <td th:text="${workout.exercise.name}"></td>
        <td>
            <a th:href="@{/workout/__${workout.id}__/details}">Смотреть</a>
        </td>
        <td>
            <a th:href="@{/workout/__${workout.id}__/remove}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>